body {
    width: 500px;
    background-color: rgb(248, 130, 199);
    
}

h1 {
    color: honeydew;
}

div {
    height: 100px;
    width: 120px;
    border: 5px solid rgb(231, 218, 218);

}

p {
    color: honeydew;
}